.form-group.required .form-control-label::before {
    content: "*";
    color: #c00;
  }
  
  .newsletter-page {
    margin-top: 1em;
  }
  .newsletter-page .newsletter-form-nav {
    margin-bottom: 1.25em;
  }
  .newsletter-page .newsletter-form-nav .tab-pane {
    margin-top: 1em;
  }
  .newsletter-page .newsletter {
    margin-bottom: 0.938em;
  }
  .newsletter-page .newsletter .error-message-form {
    padding: 0.625em;
    background-color: #c00;
    color: #fff;
    border-radius: 0.188em;
  }
  
  .registration-page .privacy-policy {
    margin-top: 1rem;
  }
  
  .newsletter-banner {
    background-image: url("../images/account.jpg");
    background-position-y: 40%;
  }
  
  .equal-height .card {
    width: 100%;
  }
  
  .track-order-header {
    font-size: 1.75rem;
  }
  
  .request-password-title {
    font-size: 1.5rem;
  }
  
